
html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body{
    background-color: #CEDEBD;
    color: var(--FONT-DARKGREEN-COLOR);
    // overflow-y: scroll;
}

a {
    text-decoration: none;
    color: inherit;
}

section{
    height: 100vh;
    scroll-snap-align: center;
}

:root {
    --BASE-BEIGE-COLOR: #f6f0de;
    --BUTTON-YELLOW-COLOR: #fccf61;
    --FONT-DARKGREEN-COLOR: #222825;
}

@mixin mobile {
    @media (max-width: 738px) {
        @content;
    }
}

@media (max-width: 738px) {
    #Content {
        display: none;
    }

    #Project{
        display: none;
    }
}
